body {
  background-color: #DADADA;
}

body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 450px;
}

a {
    color: #fff;
}

.gap {
    margin-bottom: 1em!important;
}

.signup {
    color: black;
    margin-top: 1em!important;
}